1) Write a Python program to print all the numbers from 1 to 10 using a for loop.

In [1]:
for item in range(1,11):
    print(item)

1
2
3
4
5
6
7
8
9
10

2) Write a Python program to find the sum of all numbers from 1 to 100 using a for loop.

In [110]:
add = 0
for item in range(1,101):
    add = item + add
print(add)

5050

3) Write a Python program to print the multiplication table of a given number using a
   for loop.

In [1]:
num = int(input("enter number"))
for item in range(1,11):
    print(num,"x",item,"=",num*item)

enter number 4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

4) Write a Python program to count the number of even and odd numbers from a   
series of numbers using a for loop
   Hint: Find even and odd from this list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].

In [111]:
list1 = [1,2,3,4,5,6,7,8,9,10]
count1 = 0
count2 = 0
for item in list1:
    if(item%2==0):
        count1 += 1
    else:
        count2 += 1
print("total even number is: ",count1)
print("total odd number is:", count2)

total even number is:  5
total odd number is: 5

5) Write a Python program to find the factorial of a number using a for loop.

In [10]:
num = int(input("enter number"))
factorial = 1
if num < 0:
   print("factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

enter number -11

factorial does not exist for negative numbers

6) Write a Python program to print the Fibonacci sequence up to a specified number   
using a for loop.

In [20]:
num = int(input("how many fibonacci sequence you want :"))
a = 0
b = 1
c = 0
print("fibonacci sequence",a,b,end=" ")

for item in range(0,num-2):
    c = a + b
    a = b
    b = c
    print(c,end=" ")

how many fibonacci sequence you want : 9

fibonacci sequence 0 1 1 2 3 5 8 13 21

7) Write a Python program to check if a given number is prime or not using a for loop.

In [54]:
num = int(input("enter number"))
if num > 1:
    for i in range(2,(num//2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

enter number 7

7 is a prime number

8) Write a Python program to find the largest element in a list using a for loop.

In [63]:
list1 = []
num = int(input("Enter number of elements in list: "))
for i in range(0, num):
    a = int(input("Enter elements: "))
    list1.append(a)
print("Largest element is:", max(list1))

Enter number of elements in list:  5
Enter elements:  1
Enter elements:  2
Enter elements:  3
Enter elements:  4
Enter elements:  5

Largest element is: 5

9) Write a Python program to reverse a given string using a for loop.

In [5]:
string = input("enter string")
reversed_string = ""
for char in string:
    reversed_string = char+reversed_string
print(reversed_string)

enter string python

nohtyp

10) Write a Python program to find the common elements between two lists using a    
for loop
    List1 = [1,2,3]    
List2 = [4,5,1]        # common element is 1.

In [38]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = []
for item in list1:
    if item in list2:
        
        common_elements.append(item)

print("Common elements using lists:", common_elements)

Common elements using lists: [3, 4, 5]